
@{
    ViewBag.Title = "LinkedIN_Login";
}
<script src="~/Scripts/PdfGen.js"></script>
<h2>LinkedIN_Login</h2>     


<p>Name  : @ViewBag.firstname @ViewBag.lastname</p>
<p>Email  : @ViewBag.email </p>


<button type="button" onclick="fnclicksignout()">Sign-Out</button>
