
@{
    ViewBag.Title = "PdfGeneration";
}
<script src="~/Scripts/PdfGen.js"></script>
@*<h2><button type="button" onclick="fngeneratePdf()">Pdf Itextsharp</button></h2>

<h2><button type="button" onclick="fngeneratePdfitext()">Pdf Itext</button></h2>*@

<h2><button type="button" onclick="fngenerateItext7()">Pdf Itext</button></h2>*

<button type="button" onclick="fnclicklinkedln()">Login with LinkedIn</button>

<p>In a much-awaited decision, the Supreme Court finally resolved the longstanding split among the circuit courts regarding the applicability of the “settlement payment defense” under 546(e) of the Bankruptcy Code (<em>the Settlement Payment Defense</em>). The <em>Merit Management</em><sup>1</sup> Court’s focus on § 546(e)’s scope should ease the minds of those who worried the Supreme Court would limit the Bankruptcy Code’s definition of a “financial institution.”<sup>2</sup></p>






